.wrapper {
    position: relative;
    background-image: url(img/samvip.jpg);
    opacity: rgba(90, 82, 82, 0.9);
}

#nav1 {
    background-color: #17a3df;
}

#bahagia { 
    background-image: url(img/stars.png);
    background-repeat: none;
    background-color: rgba(0, 0, 0, 0.9);
    background-attachment: fixed;
    color: #d3d3d3;
}

#card1 {
    background-color: white;
}

#card2 {
    background-color: white;
}

#card3 {
    background-color: white;
}

#andro {
    color: #86e543;
    background-color: rgba(0, 0, 0, 0.6);
}

#ios {
    color: #bf00ff;
    background-color: rgba(0, 0, 0, 0.9);
}

#user {
    color: #ffb6c1;
    background-color: rgba(0, 0, 0, 0.7);
}

#foot1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#foot {
    background-color: #e3f2fd;
}

body{
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.jumbotron {
  background-color: #ff6700;
}

.container img{
  padding-bottom: 30px;
}

.jumbotron2 {
  padding-top: 87px;
  height: 443px;
  text-align: center;
  color:  #fff;
      background: url('img/about-overview-img03.jpg') center no-repeat;
      background-size: cover;
  }

#session02 p::after {
  content: '&nbsp;';
  display: block;
  width: 54px;
  height: 2px;
  line-height: 2px;
  text-indent: -9999px;
  margin: 29px auto 40px;
  background: #fff;
  }

.jumbotron3{
  padding-top: 125px;
  padding-bottom: 125px;
}

.card-group{
  background-color: #f5f5f5;
  padding-bottom: 120px;
}

#foot{
  background-color: #e3f2fd;

}
